.aboutme {
  display: flex;
  padding-bottom: 10vh;
}

.aboutme_text {
  text-align: justify;
}
.aboutme_text2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width:700px) {
  .aboutme {
    padding-left: 5vh;
    padding-right: 5vh;
  }
}
@media (min-width: 700px) {
  .aboutme {
    padding-left: 20vh;
    padding-right: 20vh;
  }
}
@media (min-width: 1000px) {
  .aboutme {
    padding-left: 30vh;
    padding-right: 30vh;
  }
}
@media (min-width: 1200px) {
  .aboutme {
    padding-left: 50vh;
    padding-right: 50vh;
  }
}
